<!DOCTYPE html>
<html>
<title>community</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="posts_design.css">
<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Open Sans", sans-serif
    }
</style>

<body class="w3-theme-l5">

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
                href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i
                    class="fa fa-home w3-margin-right"></i>community</a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i
                    class="fa fa-globe"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
                title="Account Settings"><i class="fa fa-user"></i></a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i
                    class="fa fa-envelope"></i></a>

            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
                title="My Account">
                <img src="/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
            </a>
        </div>
    </div>

    <!-- Page Container -->
    <div>
        <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
            <!-- The Grid -->
            <div class="w3-row">
                <!-- Left Column -->
                <div class="w3-col m3" id="design" >   
                        <div class="w3-container w3-padding"  >
                            
                               
                                <input type="text" blaceholder="what do you think">
                                <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>
                                     Post</button>
                            </div>
                        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                            <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                                style="width:60px">
                            <span class="w3-right w3-opacity">1 min</span>
                            <h4>John Doe</h4><br>
                            <hr class="w3-clear">
                            <p>a software house located in nasr city looking for:ux/ui designer 
                                    (full time)responsibilities:- branding- mobile design- presentations designkindly send us your cv
                                     with your portfolio or behance link on: info@proemcs.com with subject of the job title.good luck for all </p>
                            
                            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i
                                    class="fa fa-thumbs-up"></i>  Like</button>
                            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i
                                    class="fa fa-thumbs-down"></i> disklike</button>    
                            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i
                                    class="fa fa-comment"></i>  Comment</button>
                        </div>

                        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                            <img src="https://www.w3schools.com/w3images/avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                                style="width:60px">
                            <span class="w3-right w3-opacity">16 min</span>
                            <h4>Jane Doe</h4><br>
                            <hr class="w3-clear">
                            <p>a software house located in nasr city looking for:ux/ui designer 
                                (full time)responsibilities:- branding- mobile design- presentations designkindly send us your cv
                                 with your portfolio or behance link on: info@proemcs.com with subject of the job title.good luck for all </p>
                                <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i
                                    class="fa fa-thumbs-up"></i>  Like</button>
                            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i
                                    class="fa fa-thumbs-down"></i> disklike</button>    
                            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i
                                    class="fa fa-comment"></i>  Comment</button>
                        </div>

                       
                    </div>

                    <!-- End Middle Column -->
                </div>



                <!-- End Grid -->
            </div>

            <!-- End Page Container -->
        </div>




</body>

</html>